* {
    background-color: black;
    color: chartreuse;
    font-family: 'Press Start 2P', cursive;
}

.title {
    align-content: center;
    text-align: center;
}

h3 {
    margin-left: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: 0px auto;
}